version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest

    working_directory: ~/skybunk-server

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      
      - run: npx eslint . 
      - run: npm test